
body {
    background-color: #0e1a35; 
    color: white;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px;
} 

header h1 {
    color: #cf9d42; 
    font-size: 35px;
}


.container {
    background-color: #4b6594;
}

.row {
    padding: 5px 0px;
}

.text-box {
    display: inline-block;
    width: 20%; 
    vertical-align: middle;  
}

.text-box p {
    line-height: 1.5;
    padding: 0px 15px;
    text-align: left; 
} 

.image-box {
    display: inline-block;
    width: 29%; 
    vertical-align: middle;
}

.image-box img {
    width: 100%; 
}
